apiVersion: v1
kind: Service
metadata:
  name: {{ include "awesome-apps.fullname" . }}-nginx
  labels:
    {{- include "awesome-apps.labels" . | nindent 4 }}
spec:
  type: {{ .Values.nginx.service.type }}
  ports:
    - port: {{ .Values.nginx.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "awesome-apps.selectorLabels" . | nindent 4 }}
    app: nginx
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "awesome-apps.fullname" . }}-api
  labels:
  {{- include "awesome-apps.labels" . | nindent 4 }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "awesome-apps.selectorLabels" . | nindent 4 }}
    app: api
